<div class="container">
  <div class="row" id="firstRow">
    <div class="col-sm-4">

      <div class="introHeader">
        <div class="tooltip">
          Introduction 4.0
          <span class="tooltiptext">Introduction </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" id="col-sm-5">
      <p class="txt">
        First of all - this project was never finished, is not finished and will never be finished. This page is currently showing
        companies some of my qualities and technologies I used in the past or I am working with at the present time so they
        can determine a lot faster if I fulfill their demands.
      </p>
    </div>

    <div class="col-sm-5 offset-sm-8">
      <div class="container2">

        <div class="diagonal" id="d0">

          <img src="https://img00.deviantart.net/889d/i/2014/260/f/0/fairy_tail_manga_lineart_chapter_304_page_18_by_luna_ris-d7zj88d.png"
          />
          <p class="overlay">
            <b>This is an experiment with css3 - maybe svg or canvas later on - for a 'diagonal layered' preview of some content.</b>
          </p>

        </div>

        <div class="diagonal" id="d1">

          <img src="https://lh3.googleusercontent.com/-kNfJ5V6s7UI/WN-tYSSGi0I/AAAAAAABZGk/nmMsX-VP1YIfuB8ZH_nrhp2ZS0gPdlTJQCJoC/w530-h749-n/paoYWOtnf3.jpg"
          />
          <p class="overlay">
            <b>This is an experiment with css3 - maybe svg or canvas later on - for a 'diagonal layered' preview of some content.</b>
          </p>
        </div>

        <div class="diagonal" id="d2">

          <img src="https://pm1.narvii.com/5989/0847d30d4ba4e7d35de684af5836929bf2f1a7e4_hq.jpg" />
          <p class="overlay">
            TEST
          </p>
        </div>

        <div class="diagonal" id="d3">

          <img src="https://orig00.deviantart.net/c5ce/f/2017/053/f/5/dragon_ball_super_manga_21_color__first_picture__by_bolman2003jump-db00wev.png"
          />
          <p class="overlay">
            TEST
          </p>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <p id="constructionTxt">

        <b>- - - - - STILL UNDER CONSTRUCTION - - - - -</b>
        <br>

        <br>
        <b>Moving on at own risk!!!</b>

      </p>

    </div>
  </div>
  <div class="row" id="lastRow">
    <div class="col-sm">


    </div>
    <div class="col-sm">


    </div>
    <div class="col-sm">


    </div>
  </div>
</div>