<nav class="navbar navbar-default bgImg">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" routerLink="/" routerLinkActive="active">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="nav navbar-nav">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/cerveau" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
              true}">Cerveau</a>
          </li>
          <li>
              <a routerLink="/lazy" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                true}">Lazy</a>
            </li>
          <li>
            <a routerLink="/users" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
              true}">Users</a>
          </li>

          <div class="nav navbar-nav navbar-right">

            <li class="nav navbar-nav">
              <li>
                <a routerLink="/registration" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                  true}">
                  <span class="glyphicon glyphicon-user"></span> Sign Up BLANK!</a>
                  </li>
                  <li>
              <a class="button" routerLink="/login" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                true}">
                 Login</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>