<nav class="navbar navbar-default bgImg">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" routerLink="/" routerLinkActive="active">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="nav navbar-nav">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/cerveau" routerLinkActive="active">Cerveau</a>
          </li>
          <li>
            <a routerLink="/users" routerLinkActive="active">Users</a>
          </li>
          <li>
            <a routerLink="/test" routerLinkActive="active">Test</a>
          </li>

          <div class="nav navbar-nav navbar-right">

            <li class="nav navbar-nav">
              <a class="right" routerLink="/registration" routerLinkActive="active">
                <span class="glyphicon glyphicon-user"></span> Sign Up BLANK!</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>