<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Registered Users</h2>

      <ul class="users">
        <li *ngFor="let user of data" [class.selected]="user === selectedUser" (click)="onSelect(user)">
          {{user.name}}
        </li>
      </ul>
      <app-user-detail [user]="selectedUser"></app-user-detail>
    </div>
  </div>

 <div class="row">
      <ul class="users">

          <li *ngFor="let dbUser of data2" [class.selected]="dbUser === selectedDbUser" (click)="onSelectDbUser(dbUser)">
              {{dbUser.name}}
            </li>
  </ul>
  <app-user-detail [dbUser]="selectedDbUser"></app-user-detail>



  <form action="/lol" method="post">
    <label for="name">Enter your name in the database</label>
    <input [(ngModel)]="user" name="user"/>
    <button style="color: black" (click)="addUser(user)">Add User</button>

    </form>
</div>
