body{
    color:white;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .users {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }

  .users li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .users li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
.row{
    color: white;
    padding-bottom: 35px;
}
  
h2{
    color: white;
}

th{
  padding-right: 15px;
}
td{
  padding-right: 15px;
}