<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h1 style="color: white;">Inspiring Quotes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p>
        #1 "Du schämst dich für deine Schwäche? 
        Schämen solltest du dich nur, nicht stärker 
        geworden zu sein, obwohl du deine Schwäche erkannt hast! 
        Schwäche ist ein Indikator dafür, worin du stärker werden musst. 
        Nicht mehr und nicht weniger! Sich zu schämen, schwach zu sein, 
        ist der Ausdruck dafür, noch nicht aufgegeben zu haben, stärker 
        werden zu wollen!"
      </p>
      <p class="signature">Ich</p>
      <p></p>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        #2 "Bedient euch eurer eigenen Macht - die Fähigkeit 
        zu denken, ist zum Denken gedacht!"
      </p>
      <p class="signature">Ich</p>
      <p></p>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>#3 "Wer glaubt, ein Christ zu sein, weil er die Kirche besucht, irrt sich. Man wird ja auch kein Auto, wenn man in
        eine Garage geht."
      </p>
      <p class="signature">Albert Schweitzer</p>
      <p></p>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>#4 "We are living beings born without wings and still we 
        flew higher (moon, mars) than any bird (animal)!"
      </p>
      <p class="signature">Unknown</p>
      <p></p>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p>#5 "What will you do if you fight against 
        something evil you simply can't defeat with good actions? 
        Will you bow down with your head to the ground or will you 
        fight like the evil does? Are you willing to become a monster 
        to fight against monsters?"
      </p>
      <p class="signature">Code Geass + Shingeki no kyojin</p>
      <p></p>
      <p></p>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-8">
        <p>#6 "You say justice will win? Of course it will cuz winners define justice!
          Heroes of the present will be villains in the future!"
        </p>
        <p class="signature">Unknown about war</p>
        <p></p>
        <p></p>
      </div>
    </div>
</div>